{% load static %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'style1.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
</head>
<body>
<div id="d1">
  <img src="{% static "images/1.png" %}" id="img1" />
  <p id="p1">DEMO PROJECT</p>
</div>
<div class="topnav">
{% if user.is_authenticated %}
<a href="/">HOME</a>
<a href="/add/">ADD PRODUCT</a>
<a href="/register/">ADD EMPLOYEE</a>
<a href="/list/">PRODUCT LIST</a>
<a href="/userlist/">USER LIST</a>
<a href="/logout/">LOGOUT</a><br><br>
{%else%}
<a href="/">HOME</a>
<a href="/user/">REGISTER</a>
<a href="/list/">PRODUCT LIST</a>
{%endif%}
</div>
<div id="d3">
<marquee id="m1">WELCOME TO REGISTRATION PAGE...</marquee>
</div>
<div id="reg">
<form action = "/register/" method="post" id="form1">
 {% csrf_token %}
<div id="d4">
  <label>FIRSTNAME :</label><br>
  <input type="text" name="name" placeholder="name" required autocomplete="off"><br><br>
  <label>EMAIL :</label>
  <input type="email" name="email" placeholder="email"required autocomplete="off"><br><br>
   <label>CONTACT NUMBER:</label>
  <input type="text" name="mobile_number" placeholder="MOB_number"required autocomplete="off"><br><br>
  <input type="Submit">
  </div>
  </form>
  </div>
  <div>
  {%  for messege in messages %}
  <h4>{{ messege }}</h4>
  {% endfor%}
   </div>

</body>
</html>

